$color-black: #000;
$color-white: #fff;
$color-gray-3: #2a3344;
$color-gray-2: #7f86a0;
$color-gray-1: #eaeaea;

$color-yellow: #fed20f;
$color-blue-light: #2699fb;
$color-blue-dark: #473cd2;
$color-purple: #8832b1;
$color-warning: #B1323C;
