@import "~styles/variables.scss";

.tooltip-priority {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;

  background-color: red;
  border-radius: .4rem;

  pointer-events: all;
  cursor: pointer;

  opacity: .5;
  transition: opacity .1s ease, transform .2s ease;

  &:hover {
    opacity: .7;
  }

  &--selected {
    &:hover {
      opacity: 1;
    }
    opacity: 1;
    transform: scale(1.2);
  }

  &--No {
    background-color: $color-gray-2;
  }

  &--Low {
    background-color: $color-blue;
  }

  &--Medium {
    background-color: $color-yellow;
  }

  &--High {
    background-color: $color-red;
  }
}
