@import "~styles/variables.scss";

.tooltip-content {
	color: $color-gray-3;
	/* border: .1rem solid red; */

	&__header {
		font-size: 1.2rem;
		font-weight: 400;

		margin-bottom: 0.7rem;
	}

	&__group {
		display: flex;
		justify-content: space-evenly;

		min-width: 10rem;

		margin-bottom: 0.9rem;
	}
}

/* Overwrites */

.__react_component_tooltip {
	padding: 0.8rem 1rem !important;
}

.react-calendar {
	width: 15rem;
	border: none;

	&__navigation {
		max-height: 2rem;
		margin-bottom: 0.6rem;

		&__arrow {
			min-width: 2rem !important;
		}

		&__prev2-button,
		&__next2-button {
			display: none;
		}
	}

	&__month-view__weekdays__weekday {
		padding: 0;
		font-size: 0.8rem;
	}

	&__tile {
		padding: 0;
		width: 2rem;
		height: 2rem;
	}
}
